body {
    background-color:  #222121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: wheat;
}
.login-container {
    background-color: black;
    padding: 40px 60px;
    width: 300px;
    border: 2px solid;
    border-radius: 20px;
    border-color: wheat;
    box-shadow: 4px 4px 50px blueviolet;
    text-align: center;
}
.login-container i{
    color: wheat;
    font-size: 50px;
}
input[type="submit"]:hover {
    background-color:  #555454;
}



